form {
	padding: 0;
	margin: 0;
}

html, body {
	margin: 0;
	padding: 0;
	font-family: verdana, sans-serif;
	font-size: 100%;
	background: #fff;
}

body {
	font-size: 75%;
}

h1 {
	font-size: 2.5em;
	padding: 10px;
	margin:0;
	background: #633;
	border-bottom: 8px solid #411;
	color: #fff;	
}

div.body {
	padding: 10px;
	background: #eee;
	padding-bottom: 30px;
	border-bottom: 20px solid #ddd;
}

h2 {
	font-size: 1.5em;
	border-bottom: 1px solid #bbb;
	padding: 4px 0;
	margin: 0 0 1em 0;
}
h2.module {
	cursor: pointer;
	cursor: hand;
}
h2:target {
	background: #ffb;
}

h3 {
	border-left: 1.2em solid #633;
	padding-left: 5px;
	font-size: 1.2em;
}

h4 {
	font-size: 1em;
}

p {
	line-height: 1.5em;
	margin: 1em 0;
}

ul, ol {
	line-height: 1.5em;
}

ul li, ol li {
	margin-bottom: 0.5em;
}

ol ol {
	padding: 0;
	margin-left: 2.5em;
}

pre.html, pre.javascript, pre.css {
	background: #fff;
	border: 1px dotted #000;
	padding: 10px;
	overflow: auto;
	font-size: 1.19em;
	max-height: 200px;
}

code {
	font-family: courier;
	background: #fafafa;
	padding: 3px 5px;
}

a:link, a:visited {
	text-decoration: none;
}

table.results {
	border-collapse: separate;
	font-size: 1em;
	empty-cells: hide;
}
table.results td, table.results th {
	padding: 4px;
	background: #ccc;
}
table.results td {
	text-align: center;
	font-size: 0.9em;
}
table.results th {
	background: #fff;
	font-weight: normal;
}
table.results tbody th {
	text-align: right;
}
table.results td.pass {
	color: #fff;
	background: #070;
}
table.results td.fail {
	color: #fff;
	background: #700;
}

#ua {
	position: absolute;
	right: 0;
	color: #fff;
	font-weight: bold;
	font-size: 0.9em;
	min-height: 22px;
	background: #411 url(ua_corner.png) no-repeat top left;
	padding: 0 7px 0 33px;
}
* html #ua {
	height: 22px;
}

ul.unitTests, ul.unitTests ol {
	margin: 0;
	padding: 0;
	list-style: none;
	zoom: 1;
}

ul.unitTests {
	max-width: 700px;
	margin-bottom: 1em;
	position: relative;
}
* html ul.unitTests {
	width: 700px;
}

ul.unitTests li {
	margin: 0;
}
ul.unitTests h3 {
	margin: 0 0 1px 0;
	border: none;
	background: #fff;
	padding: 4px;
	overflow: hidden;
	zoom: 1;
	font-size: 1.1em;
	cursor: pointer;
	cursor: hand;
}
* html ul.unitTests h3 {
	overflow: visible;
	height: 1%;
}

ul.unitTests span.testResult {
	float: right;
	width: 100px;
	background: #070 url(pass.png) no-repeat center;
	text-align: center;
	color: #fff;
	margin-left: 4px;
}
ul.unitTests li.fail span.testResult {
	background: #700 url(fail.png) no-repeat center;
}
ul.unitTests li.skipped span.testResult {
	background: #777 url(skipped.png) no-repeat center;
}
ul.unitTests li.todo h3 {
	background: #ffd;
}
ul.unitTests ol {
	padding: 0 25px 0 0;
	border-left: 25px solid #ddd;
	display: none;
	margin-bottom: 1px;
}
ul.unitTests ol li {
	overflow: hidden;
	zoom: 1;
	background: #fafafa;
	margin: 0;
	padding: 0 0 0 4px;
	line-height: 2em;
}
ul.unitTests ol li.even {
	background: #fff;
}
ul.unitTests ol span.assertResult {
	float: right;
	background: #070 url(pass.png) no-repeat center;
	width: 60px;
	text-align: center;
	color: #fff;
	margin: 0 0 0 4px;
}
ul.unitTests ol li.fail span.assertResult {
	background: #700 url(fail.png) no-repeat center;
}
* html ul.unitTests ol li {
	overflow: visible;
	height: 1%;
}

ul.unitTests span.testStats {
	float: right;
	font-weight: normal;
	overflow: hidden;
	zoom: 1;
	margin: 0 10px;
	max-width: 240px;
}
* html ul.unitTests span.testStats {
	overflow: visible;
	height: 1%;
}
ul.unitTests span.testStats span {
	float: left;
	margin-left: 10px;
}

/* FOR TESTING */
.width100 {
	width: 100px;
}
.height100 {
	height: 100px;
}
.padding10 {
	padding: 10px;
}
.overflowScroll {
	overflow: scroll;
}
.padTest {
	padding: 10px 10px 5em 5em;
	clear: left;
}
.padTest2 {
	padding: 0 0 0 50%;
}
.marginTest {
	margin: 10px 10px 5em 5em;
}
.marginTest2 {
	margin: 0 auto;
	width: 50px
}
.borderTest {
	border: 1px solid #000;
	border-width: 10px 10px 5em 5em;
	border-style: dotted dashed double solid; 
}
.listTest {
	list-style-type: square;
}
.colourTest {
	background: rgb(50%, 50%, 50%);
	color: #0f0;
	border: 1px solid #000;
	border-left-color: green;
}
.backgroundTest {
	background: #00f url(fail.png) top right repeat-x scroll;
}
.fontTest {
	direction: rtl;
	font: italic small-caps bold 5em madeup, verdana, sans-serif;
	letter-spacing: 2em;
	line-height: 2em;
	text-align: justify;
	text-decoration: underline;
	text-indent: 2em;
	text-transform: capitalize;
	white-space: nowrap;
	word-spacing: 4em;
}
.tableTest {
	table-layout: fixed;
}
.posTest1 {
	position: absolute;
	top: 5em;
	left: 30px;
	z-index: 32;
}
.posTest2 {
	position: absolute;
	right: 5em;
	bottom: 30px;
}
.posTest3 {
	position: relative;
	top: -5em;
	left: -30px;
}
.posTest4Container, .posTest6Container {
	position: relative;
	width: 500px;
	zoom: 1;
}
.posTest4 {
	position: absolute;
	left: 50%;
	width: 10px;
	overflow: hidden;
}
.posTest5 {
	position: absolute;
	right: 50%;
}
.posTest6 {
	margin: 20px;
	width: 200px;
}
.posTest7 {
	position: absolute;
	left: 30px;
}
.posTest8 {
	display: none;
	position: absolute;
	top: 5em;
	left: 30px;
	z-index: 32;
	width: 5em;
	height: 30px;
}
.opacityTest {
	opacity: 0.25;
	filter: alpha(opacity=25);
	zoom: 1;
}
.displayTest1 {
	display: inline;
}
.displayTest2 {
	display: none;
}
/* END */