/* TIMETABLE */
	.glowCSSVERSION-vTimetable .timetable-container,
	.glowCSSVERSION-Timetable .timetable-container {
		overflow: hidden;
		position: relative;
		zoom: 1;
	}
	.glowCSSVERSION-vTimetable .timetable-innerView,
	.glowCSSVERSION-Timetable .timetable-innerView {
		/*border: 2px solid #000;*/
		background: #fff;
		overflow: hidden;
		position: relative;
		zoom: 1;
	}
	.glowCSSVERSION-vTimetable .timetable-innerView {
		float: left;
	}
	.glowCSSVERSION-vTimetable .timetable-dragArea,
	.glowCSSVERSION-vTimetable .timetable-track,
	.glowCSSVERSION-vTimetable .timetable-item,
	.glowCSSVERSION-vTimetable .timetable-bandOdd,
	.glowCSSVERSION-vTimetable .timetable-bandEven,
	.glowCSSVERSION-vTimetable .timetable-scale,
	.glowCSSVERSION-vTimetable .timetable-scaleItem,
	.glowCSSVERSION-Timetable .timetable-dragArea,
	.glowCSSVERSION-Timetable .timetable-track,
	.glowCSSVERSION-Timetable .timetable-item,
	.glowCSSVERSION-Timetable .timetable-bandOdd,
	.glowCSSVERSION-Timetable .timetable-bandEven,
	.glowCSSVERSION-Timetable .timetable-scale,
	.glowCSSVERSION-Timetable .timetable-scaleItem {
		position: absolute;
		top: 0; left: 0;
		overflow: hidden;
		width: 100%;
		height: 100%;
		z-index: 2;
	}

	.glowCSSVERSION-vTimetable .timetable-dragRange,
	.glowCSSVERSION-Timetable .timetable-dragRange {
		height: 100%;
		width: 100%;
	}


	.glowCSSVERSION-vTimetable .timetable-track,
	.glowCSSVERSION-Timetable .timetable-track {
		border: 1px solid #a0a0a0;
		border-width: 0 1px;
		margin-right: 2px;
	}
	.glowCSSVERSION-vTimetable .timetable-track {
		border-width: 0 1px;
		margin-right: 1px;
	}
	.glowCSSVERSION-Timetable .timetable-track {
		border-width: 1px 0;
		margin-bottom: 1px;
	}
	.glowCSSVERSION-vTimetable .timetable-scale,
	.glowCSSVERSION-Timetable .timetable-scale {
		color: #a0a0a0;
		font-size: x-large;
		border: 1px solid #ccc;
	}
	.glowCSSVERSION-vTimetable .timetable-scale {
		text-align: center;
	}

	.glowCSSVERSION-vTimetable .timetable-scalePrimary {
		border-width: 0 0 0 1px;
	}
	.glowCSSVERSION-vTimetable .timetable-scaleSecondary {
		border-width: 0 1px 0 0;
	}
	.glowCSSVERSION-Timetable .timetable-scalePrimary {
		border-width: 1px 0 0 0;
	}
	.glowCSSVERSION-Timetable .timetable-scaleSecondary {
		border-width: 0 0 1px 0;
	}

	.glowCSSVERSION-vTimetable .timetable-track-footers {
		clear: both;
	}

/* temporary values to make it visible but out of the way during dev
	.glowCSSVERSION-vTimetable .timetable-accessibility-navigation,
	.glowCSSVERSION-Timetable .timetable-accessibility-navigation {
		position: absolute;
		top: 0;
		right: 0;
	}*/

	.glowCSSVERSION-vTimetable .timetable-accessibility-navigation,
	.glowCSSVERSION-Timetable .timetable-accessibility-navigation,
	.glowCSSVERSION-vTimetable .timetable-accessibility-hidden,
	.glowCSSVERSION-Timetable .timetable-accessibility-hidden {
		position: absolute;
		height: 1px;
		width: 1px;
		overflow: hidden;
	}

	.glowCSSVERSION-vTimetable .timetable-track-headers,
	.glowCSSVERSION-vTimetable .timetable-track-footers,
	.glowCSSVERSION-Timetable .timetable-track-headers,
	.glowCSSVERSION-Timetable .timetable-track-footers {
		position: relative;
	}

	.glowCSSVERSION-vTimetable .timetable-header-holder,
	.glowCSSVERSION-vTimetable .timetable-footer-holder,
	.glowCSSVERSION-Timetable .timetable-header-holder,
	.glowCSSVERSION-Timetable .timetable-footer-holder {
		position: absolute;
		top: 0;
		left: 0;
		overflow: hidden;
		color: #fff;
		background: #424242;
		text-align: center;
	}
	.glowCSSVERSION-Timetable .timetable-track-headers,
	.glowCSSVERSION-Timetable .timetable-track-footers,
	.glowCSSVERSION-Timetable .timetable-scrollView {
		float: left;
	}
	.glowCSSVERSION-Timetable .timetable-header-holder,
	.glowCSSVERSION-Timetable .timetable-footer-holder {
		width: 100px;
	}

	.glowCSSVERSION-vTimetable .timetable-track-headers,
	.glowCSSVERSION-vTimetable .timetable-track-footers,
	.glowCSSVERSION-Timetable .timetable-track-headers,
	.glowCSSVERSION-Timetable .timetable-track-footers {
		background: #fff;
		border: 1px solid #ccc;
	}
	.glowCSSVERSION-vTimetable .timetable-track-headers {
		border-bottom-width: 0
	}
	.glowCSSVERSION-vTimetable .timetable-track-footers {
		border-top-width: 0
	}
	.glowCSSVERSION-Timetable .timetable-track-headers {
		border-right-width: 0
	}
	.glowCSSVERSION-Timetable .timetable-track-footers {
		border-left-width: 0
	}

	.glowCSSVERSION-vTimetable .timetable-track-headers div.timetable-header-content,
	.glowCSSVERSION-vTimetable .timetable-track-footers div.timetable-footer-content,
	.glowCSSVERSION-Timetable .timetable-track-headers div.timetable-header-content,
	.glowCSSVERSION-Timetable .timetable-track-footers div.timetable-footer-content {
		padding: 9px 0;
	}

	.glowCSSVERSION-Timetable .timetable-track-headers div.timetable-header-content,
	.glowCSSVERSION-Timetable .timetable-track-footers div.timetable-footer-content {
		padding: 4px 5px;
		text-align: left;
	}
	/* we use !important beacuse it's impoartant these items aren't affected by margins or padding */
	.glowCSSVERSION-vTimetable .timetable-trackList,
	.glowCSSVERSION-Timetable .timetable-trackList {
		margin: 0 !important;
		padding: 0 !important;
		list-style: none;
	}
	.glowCSSVERSION-vTimetable .timetable-item,
	.glowCSSVERSION-Timetable .timetable-item {
		border: 1px solid #ccc;
		margin: 0 !important;
		padding: 0 !important;
		display: block;
	}
	.glowCSSVERSION-vTimetable .timetable-item {
		border-width: 1px 0;
	}
	.glowCSSVERSION-Timetable .timetable-item {
		border-width: 0 1px;
	}
	.glowCSSVERSION-vTimetable .timetable-itemHangingOffStart .timetable-itemContent,
	.glowCSSVERSION-Timetable .timetable-itemHangingOffStart .timetable-itemContent {
		opacity: 0.3;
		filter: alpha(opacity=30);
		zoom: 1;
	}
	.glowCSSVERSION-vTimetable .timetable-itemHangingClipping .timetable-itemContent,
	.glowCSSVERSION-Timetable .timetable-itemHangingClipping .timetable-itemContent {
		height: 1px;
		overflow: hidden;
	}
	.glowCSSVERSION-vTimetable .timetable-hideitems .timetable-item {
		display: none;
	}
	/* banding */
		.glowCSSVERSION-vTimetable .timetable-bandOdd,
		.glowCSSVERSION-vTimetable .timetable-bandEven,
		.glowCSSVERSION-Timetable .timetable-bandOdd,
		.glowCSSVERSION-Timetable .timetable-bandEven {
			z-index: 1;
		}
		.glowCSSVERSION-vTimetable .timetable-bandOdd,
		.glowCSSVERSION-Timetable .timetable-bandOdd {
			background: #ebebeb;
		}
	/* end banding */

	.glowCSSVERSION-vTimetable .timetable-default-track-header {
		position: absolute;
		height: 1px;
		width: 1px;
		overflow: hidden;
	}

	/* scrollbar nav */
		.glowCSSVERSION-vTimetable .timetable-scrollbar1,
		.glowCSSVERSION-vTimetable .timetable-scrollbar2,
		.glowCSSVERSION-Timetable .timetable-scrollbar1,
		.glowCSSVERSION-Timetable .timetable-scrollbar2 {
			display: none;
		}
	
		.glowCSSVERSION-vTimetable .timetable-scrollbar1,
		.glowCSSVERSION-vTimetable .timetable-scrollbar2 {
			float: left;
			/* this foces IE6 to make the scrollbars shrink to fit */
			_width: 0;
		}

		.glowCSSVERSION-vTimetable .timetable-scrollbar .slider-container,
		.glowCSSVERSION-Timetable .timetable-scrollbar .slider-container {
			padding: 21px 0;
			border: 1px solid #a0a0a0;
		}
		.glowCSSVERSION-Timetable .timetable-scrollbar .slider-container {
			padding: 0 21px;
		}
		.glowCSSVERSION-vTimetable .timetable-scrollbar2 .slider-container {
			border-left-width: 0;
		}
		.glowCSSVERSION-vTimetable .timetable-scrollbar1 .slider-container {
			border-right-width: 0;
		}
		.glowCSSVERSION-Timetable .timetable-scrollbar2 .slider-container {
			border-top-width: 0;
		}
		.glowCSSVERSION-Timetable .timetable-scrollbar1 .slider-container {
			border-bottom-width: 0;
		}
		.glowCSSVERSION-vTimetable .timetable-scrollbar .slider-handle,
		.glowCSSVERSION-Timetable .timetable-scrollbar .slider-handle {
			/* using opacity because IE6 lets you click 'through' elements with a transparent bg */
			width: 100%;
			height: 100%;
			background: #fff;
			opacity: 0;
			filter: alpha(opacity=0);
			top: 0;
		}
		.glowCSSVERSION-vTimetable .timetable-scrollbar .slider-track,
		.glowCSSVERSION-Timetable .timetable-scrollbar .slider-track {
			background: none;
		}
		.glowCSSVERSION-vTimetable .timetable-scrollbarLabels,
		.glowCSSVERSION-Timetable .timetable-scrollbarLabels {
			position: absolute;
			width: 100%;
			height: 100%;
			background: #fff;
			color: #227db7;
			font-size: small;
			text-align: center;
			top: 0; left: 0;
			overflow: hidden;
		}

		.glowCSSVERSION-vTimetable .slider-labels,
		.glowCSSVERSION-Timetable .slider-labels {
			display: none;
		}

		.glowCSSVERSION-vTimetable .timetable-scrollbarLabelsHighlight,
		.glowCSSVERSION-Timetable .timetable-scrollbarLabelsHighlight {
			background: #424242;
			color: #fff;
			z-index: 1;
			overflow: hidden;
		}

		.glowCSSVERSION-vTimetable .timetable-scrollbar .slider-trackOn,
		.glowCSSVERSION-vTimetable .timetable-scrollbar .slider-trackOff,
		.glowCSSVERSION-Timetable .timetable-scrollbar .slider-trackOn,
		.glowCSSVERSION-Timetable .timetable-scrollbar .slider-trackOff {
			background: none;
		}

		.glowCSSVERSION-vTimetable .timetable-scrollbarItem,
		.glowCSSVERSION-Timetable .timetable-scrollbarItem {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0; left: 0;
		}

		.glowCSSVERSION-vTimetable .timetable-scrollbar .slider-btn-bk,
		.glowCSSVERSION-vTimetable .timetable-scrollbar .slider-btn-fwd,
		.glowCSSVERSION-Timetable .timetable-scrollbar .slider-btn-bk,
		.glowCSSVERSION-Timetable .timetable-scrollbar .slider-btn-fwd {
			background: url(images/timetable/lightv.png) top center;
			border: 1px solid #a0a0a0;
		}

		.glowCSSVERSION-vTimetable .timetable-scrollbar .slider-btn-bk,
		.glowCSSVERSION-vTimetable .timetable-scrollbar .slider-btn-fwd {
			height: 20px;
			left: 0;
			border-width: 0 0 1px 0;
		}
		.glowCSSVERSION-Timetable .timetable-scrollbar .slider-btn-bk,
		.glowCSSVERSION-Timetable .timetable-scrollbar .slider-btn-fwd {
			background: url(images/timetable/lighth.png) right center;
			width: 20px;
			top: 0;
			border-width: 0 0 0 1px;
		}
		.glowCSSVERSION-vTimetable .timetable-scrollbar .slider-btn-bk {
			background-position: center bottom;
			border-width: 1px 0 0 0;
			margin: -21px 0 0;
		}
		.glowCSSVERSION-Timetable .timetable-scrollbar .slider-btn-bk {
			background-position: left center;
			border-width: 0 1px 0 0;
			z-index: 1;
		}
		.glowCSSVERSION-Timetable .timetable-scrollbar .slider-btn-fwd {
			margin-left: -21px;
		}
	/* scrollbar nav end */

	/* dark theme */
		.glowCSSVERSION-vTimetable .timetable-dark .timetable-scrollbarLabels,
		.glowCSSVERSION-Timetable .timetable-dark .timetable-scrollbarLabels {
			background-color: #333;
		}

		.glowCSSVERSION-vTimetable .timetable-dark .timetable-header-holder,
		.glowCSSVERSION-vTimetable .timetable-dark .timetable-footer-holder,
		.glowCSSVERSION-Timetable .timetable-dark .timetable-header-holder,
		.glowCSSVERSION-Timetable .timetable-dark .timetable-footer-holder,
		.glowCSSVERSION-vTimetable .timetable-dark .timetable-scrollbarLabelsHighlight,
		.glowCSSVERSION-Timetable .timetable-dark .timetable-scrollbarLabelsHighlight {
			background: #121212;
		}

		.glowCSSVERSION-vTimetable .timetable-dark .timetable-innerView,
		.glowCSSVERSION-Timetable .timetable-dark .timetable-innerView {
			background: #333333;
			color: #ccc;
		}

		.glowCSSVERSION-vTimetable .timetable-dark .timetable-scale,
		.glowCSSVERSION-Timetable .timetable-dark .timetable-scale {
			color: #ccc;
		}

		.glowCSSVERSION-vTimetable .timetable-dark .timetable-item,
		.glowCSSVERSION-Timetable .timetable-dark .timetable-item,
		.glowCSSVERSION-vTimetable .timetable-dark .timetable-track,
		.glowCSSVERSION-Timetable .timetable-dark .timetable-track,
		.glowCSSVERSION-vTimetable .timetable-dark .timetable-scrollbar .slider-btn-bk,
		.glowCSSVERSION-vTimetable .timetable-dark .timetable-scrollbar .slider-btn-fwd,
		.glowCSSVERSION-Timetable .timetable-dark .timetable-scrollbar .slider-btn-bk,
		.glowCSSVERSION-Timetable .timetable-dark .timetable-scrollbar .slider-btn-fwd,
		.glowCSSVERSION-vTimetable .timetable-dark .timetable-scrollbar .slider-container,
		.glowCSSVERSION-Timetable .timetable-dark .timetable-scrollbar .slider-container,
		.glowCSSVERSION-vTimetable .timetable-dark .timetable-scale,
		.glowCSSVERSION-Timetable .timetable-dark .timetable-scale {
			border-color: #141414;
		}

		.glowCSSVERSION-vTimetable .timetable-dark .timetable-bandOdd,
		.glowCSSVERSION-Timetable .timetable-dark .timetable-bandOdd {
			background-color: #242424;
		}

		.glowCSSVERSION-vTimetable .timetable-dark .timetable-scrollbar .slider-btn-bk,
		.glowCSSVERSION-vTimetable .timetable-dark .timetable-scrollbar .slider-btn-fwd {
			background-image: url(images/timetable/darkv.png);
		}
		.glowCSSVERSION-Timetable .timetable-dark .timetable-scrollbar .slider-btn-bk,
		.glowCSSVERSION-Timetable .timetable-dark .timetable-scrollbar .slider-btn-fwd {
			background-image: url(images/timetable/darkh.png);
		}
		.glowCSSVERSION-vTimetable .timetable-dark .timetable-track-headers,
		.glowCSSVERSION-vTimetable .timetable-dark .timetable-track-footers,
		.glowCSSVERSION-Timetable .timetable-dark .timetable-track-headers,
		.glowCSSVERSION-Timetable .timetable-dark .timetable-track-footers {
			border: none;
			background: #333;
		}
	/* dark theme end */
/* END TIMETABLE */
