/*PANEL*/
  .glowCSSVERSION-panel .c {
	  background: #57585A url(images/darkpanel/bg.gif) repeat-x bottom;
	  color: #fff;
	  margin: 0 10px;
  }
  .glowCSSVERSION-panel .tr, .glowCSSVERSION-panel .tl, .glowCSSVERSION-panel .br, .glowCSSVERSION-panel .bl {
	  height: 14px;
	  overflow: hidden;
  }
  .glowCSSVERSION-panel .tr, .glowCSSVERSION-panel .br {
	  float: right;
	  width: 14px;
  }
  /* we couldn't sprite these because of IE being a pain */
  .glowCSSVERSION-panel .tr { background: url(images/darkpanel/ctr.png); }
  .glowCSSVERSION-panel .tl { background: url(images/darkpanel/ctl.png); }
  .glowCSSVERSION-panel .bl { background: url(images/darkpanel/cbl.png); }
  .glowCSSVERSION-panel .br { background: url(images/darkpanel/cbr.png); }

  .glowCSSVERSION-panel .tl, .glowCSSVERSION-panel .bl {
	  width: 14px;
	  float: left;
  }
  .glowCSSVERSION-panel .tb, .glowCSSVERSION-panel .bb {
	  border: 4px solid #57585A;
	  border-width: 0 0 4px 0;
	  overflow: hidden;
	  font-size: 0;
  }
  .glowCSSVERSION-panel .tb div, .glowCSSVERSION-panel .bb div {
	  height: 10px;
	  background: #fff;
	  opacity: 0.5;
	  font-size: 0;
  }
  .glowCSSVERSION-panel .bb {
	  border-width: 4px 0 0 0;
	  border-color: #424243;
  }
  .glowCSSVERSION-panel .tc {
	  overflow: hidden;
	  position: relative;
	  zoom: 1;
  }
  .glowCSSVERSION-panel .bars {
	  position: absolute;
	  width: 100%;
	  padding-left: 10px;
	  height: 100%;
	  background: #fff;
	  opacity: 0.5;
	  margin-left: -10px;
	  /* the following rule hits IE6 only */
	  _height: 2000px;
	  /* the following rule hits IE6 & IE7 */
	  *padding-left: 0;
  }
  /*
	annoying firefox bug - it sometimes doesn't obey the overflow by one px if
	the opacity isn't 1. Firefox users get an extra http request. Oh well. -J
  */
  html .glowCSSVERSION-gecko .glowCSSVERSION-panel .bars {
	background: url(images/darkpanel/transbg.png);
	opacity: 1;
  }
  .glowCSSVERSION-panel .c {
	  position: relative;
	  min-height: 50px;
	  overflow: hidden;
  }

  .glowCSSVERSION-panel .panel-hd {
	  border-bottom: 1px solid #B0B0B0;
	  padding: 5px 10px 10px;
	  font-weight: bold;
  }
  .glowCSSVERSION-panel .panel-hd * {
	  margin: 0; padding: 0;
  }

  .glowCSSVERSION-panel .panel-bd, .glowCSSVERSION-panel .panel-ft {
	  margin: 0 10px;
  }

  .glowCSSVERSION-panel .panel-close {
	  background: url(images/darkpanel/close.png);
	  height: 20px;
	  width: 20px;
	  float: right;
	  position: relative;
	  margin: 5px 10px 0 0;
	  text-indent: -5000px;
  }

  /*without header*/
	.glowCSSVERSION-overlay .panel-noHeader .panel-hd {
	  display: none;
	}
  /*end*/


  /*without images*/
	.glowCSSVERSION-basic .glowCSSVERSION-panel .panel-close {
		text-indent: 0;
		color: #fff;
		border: 1px solid #fff;
		text-align: center;
	}
	.glowCSSVERSION-basic .glowCSSVERSION-panel .tb,
	.glowCSSVERSION-basic .glowCSSVERSION-panel .bb,
	.glowCSSVERSION-basic .glowCSSVERSION-panel .bars {
		visibility: hidden;
	}
  /*end*/

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 This block of CSS rules for IE only has been moved to panel.js to be output directly to
 the page. It is there so that the path to the PNGs can be deduced from the location of
 the widgets css file.
 It is acceptable because this design will not be altered before version 2 of glow, and
 at that point it will be modified to avoid the use of PNGs.
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

  .glowCSSVERSION-ie .glowCSSVERSION-panel .tr {
	background:none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//www.bbc.co.uk/glow/1.1.0/widgets/images/darkpanel/ctr.png', sizingMethod='crop');
  }
  .glowCSSVERSION-ie .glowCSSVERSION-panel .tl {
	background:none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//www.bbc.co.uk/glow/1.1.0/widgets/images/darkpanel/ctl.png', sizingMethod='crop');
  }
  .glowCSSVERSION-ie .glowCSSVERSION-panel .bl {
	background:none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//www.bbc.co.uk/glow/1.1.0/widgets/images/darkpanel/cbl.png', sizingMethod='crop');
  }
  .glowCSSVERSION-ie .glowCSSVERSION-panel .br {
	background:none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//www.bbc.co.uk/glow/1.1.0/widgets/images/darkpanel/cbr.png', sizingMethod='crop');
  }
  .glowCSSVERSION-ie .glowCSSVERSION-panel .infoPanel-pointerT {
	background:none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//www.bbc.co.uk/glow/1.1.0/widgets/images/darkpanel/at.png', sizingMethod='crop');
  }
  .glowCSSVERSION-ie .glowCSSVERSION-panel .infoPanel-pointerR {
	background:none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//www.bbc.co.uk/glow/1.1.0/widgets/images/darkpanel/ar.png', sizingMethod='crop');
  }
  .glowCSSVERSION-ie .glowCSSVERSION-panel .infoPanel-pointerB {
	background:none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//www.bbc.co.uk/glow/1.1.0/widgets/images/darkpanel/ab.png', sizingMethod='crop');
  }
  .glowCSSVERSION-ie .glowCSSVERSION-panel .infoPanel-pointerL {
	background:none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//www.bbc.co.uk/glow/1.1.0/widgets/images/darkpanel/al.png', sizingMethod='crop');
  }

 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

  .glowCSSVERSION-ie .glowCSSVERSION-panel .bars,
  .glowCSSVERSION-ie .glowCSSVERSION-panel .tb div,
  .glowCSSVERSION-ie .glowCSSVERSION-panel .bb div {
	  opacity: 1;
	  filter: alpha(opacity=50);	  
  }
  
  .glowCSSVERSION-ie .glowCSSVERSION-panel .tb,
  .glowCSSVERSION-ie .glowCSSVERSION-panel .bb {
	  zoom: 1;
	  z-index: -1;
	  position: relative;
  }

  /*
	this solves a weird IE bug where the content vanishes if the panel is given an
	opacity value
  */
  .glowCSSVERSION-ie .glowCSSVERSION-panel .c {
	filter: alpha(opacity=100);
  }

  .glowCSSVERSION-ielt7 .glowCSSVERSION-panel .tr,
  .glowCSSVERSION-ielt7 .glowCSSVERSION-panel .br {
	  margin-left: -3px;
  }
  .glowCSSVERSION-ielt7 .glowCSSVERSION-panel .tl,
  .glowCSSVERSION-ielt7 .glowCSSVERSION-panel .bl {
	  margin-right: -3px;
  }
  .glowCSSVERSION-ielt7 .glowCSSVERSION-panel .c {
	  height: 50px;
	  overflow: visible;
  }
  .glowCSSVERSION-ielt7 .glowCSSVERSION-panel .panel-bd {
	  overflow: hidden;
  }
  /*DARK THEME*/
	/*Dark is the default*/
  /*LIGHT THEME*/
	.glowCSSVERSION-overlay .panel-light .c {
	  background: #fff url(images/lightpanel/bg.gif) repeat-x bottom;
	  color: #000;
	}
	.glowCSSVERSION-overlay .panel-light .tb {
	  border-color: #fff;
	}
	.glowCSSVERSION-overlay .panel-light .bb {
	  border-color: #E7E8E9;
	}
	.glowCSSVERSION-overlay .panel-light .bars,
	.glowCSSVERSION-overlay .panel-light .tb div,
	.glowCSSVERSION-overlay .panel-light .bb div {
	  background: #000;
	  opacity: 0.26;
	}
	.glowCSSVERSION-overlay .panel-light .tr { background: url(images/lightpanel/ctr.png); }
	.glowCSSVERSION-overlay .panel-light .tl { background: url(images/lightpanel/ctl.png); }
	.glowCSSVERSION-overlay .panel-light .bl { background: url(images/lightpanel/cbl.png); }
	.glowCSSVERSION-overlay .panel-light .br { background: url(images/lightpanel/cbr.png); }
	html .glowCSSVERSION-overlay .panel-light .infoPanel-pointerT { background: url(images/lightpanel/at.png); }
	html .glowCSSVERSION-overlay .panel-light .infoPanel-pointerR { background: url(images/lightpanel/ar.png); }
	html .glowCSSVERSION-overlay .panel-light .infoPanel-pointerB { background: url(images/lightpanel/ab.png); }
	html .glowCSSVERSION-overlay .panel-light .infoPanel-pointerL { background: url(images/lightpanel/al.png); }

	.glowCSSVERSION-overlay .panel-light .panel-close {
	  background: url(images/lightpanel/close.png);
	}
	.glowCSSVERSION-gecko .glowCSSVERSION-overlay .panel-light .bars {
	  background: url(images/lightpanel/transbg.png);
	}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 This block of CSS rules for IE only has been moved to panel.js to be output directly to
 the page. It is there so that the path to the PNGs can be deduced from the location of
 the widgets css file.
 It is acceptable because this design will not be altered before version 2 of glow, and
 at that point it will be modified to avoid the use of PNGs.
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

	.glowCSSVERSION-ie .glowCSSVERSION-overlay .panel-light .tr {
	  background:none;
	  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//www.bbc.co.uk/glow/1.1.0/widgets/images/lightpanel/ctr.png', sizingMethod='crop');
	}
	.glowCSSVERSION-ie .glowCSSVERSION-overlay .panel-light .tl {
	  background:none;
	  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//www.bbc.co.uk/glow/1.1.0/widgets/images/lightpanel/ctl.png', sizingMethod='crop');
	}
	.glowCSSVERSION-ie .glowCSSVERSION-overlay .panel-light .bl {
	  background:none;
	  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//www.bbc.co.uk/glow/1.1.0/widgets/images/lightpanel/cbl.png', sizingMethod='crop');
	}
	.glowCSSVERSION-ie .glowCSSVERSION-overlay .panel-light .br {
	  background:none;
	  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//www.bbc.co.uk/glow/1.1.0/widgets/images/lightpanel/cbr.png', sizingMethod='crop');
	}
	.glowCSSVERSION-ie .glowCSSVERSION-overlay .panel-light .infoPanel-pointerT {
	  background:none;
	  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//www.bbc.co.uk/glow/1.1.0/widgets/images/lightpanel/at.png', sizingMethod='crop');
	}
	.glowCSSVERSION-ie .glowCSSVERSION-overlay .panel-light .infoPanel-pointerR {
	  background:none;
	  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//www.bbc.co.uk/glow/1.1.0/widgets/images/lightpanel/ar.png', sizingMethod='crop');
	}
	.glowCSSVERSION-ie .glowCSSVERSION-overlay .panel-light .infoPanel-pointerB {
	  background:none;
	  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//www.bbc.co.uk/glow/1.1.0/widgets/images/lightpanel/ab.png', sizingMethod='crop');
	}
	.glowCSSVERSION-ie .glowCSSVERSION-overlay .panel-light .infoPanel-pointerL {
	  background:none;
	  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//www.bbc.co.uk/glow/1.1.0/widgets/images/lightpanel/al.png', sizingMethod='crop');
	}

 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

	.glowCSSVERSION-ie .glowCSSVERSION-overlay .panel-light .bars,
	.glowCSSVERSION-ie .glowCSSVERSION-overlay .panel-light .tb div,
	.glowCSSVERSION-ie .glowCSSVERSION-overlay .panel-light .bb div {
		opacity: 1;
		filter: alpha(opacity=26);
	}
/*END*/
