<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	<title>Module Name</title>
	<script type="text/javascript" src="../includes/manualtests.js"></script>
	<!-- loading gloader, to change the location of gloader, edit manualtests.js -->
	<script type="text/javascript">// <![CDATA[
		document.write(
			'<script type="text/javascript" src="' + manualTests.config.gloaderPath + '"> \
				gloader.use("glow", { \
					$map:  manualTests.config.mapPath, \
					$base: manualTests.config.basePath \
				}); \
			<' + '/script>'
		);
	// ]]></script>
	
	<script type="text/javascript">gloader.load(['glow', '@VERSION@', 'glow.data'])</script>
</head>

<body>
	<h1>Module Name</h1>
	
	<h2>Settings</h2>
	
	<!--
		You may want to use this to provide a simple way to switch themes
		and orientation. urlOpts will contain the results of the form
		
		Simply delete if you don't need it
	-->
	
	<form action="?" id="urlOpts">
		<p>
			<label>
				Orientation:
				<select name="vertical">
					<option value="">Horizontal</option>
					<option value="1">Vertical</option>
				</select>
			</label>
			<label>
				Theme:
				<select name="theme">
					<option value="dark">Dark</option>
					<option value="light">Light</option>
				</select>
			</label>
			<input type="submit" value="Go" />
		</p>
	</form>
	
	<script type="text/javascript">
		// get values from url
		var urlOpts = glow.data.decodeUrl( window.location.search.slice(1) );
		// set defaults here, eg...
		urlOpts.theme = urlOpts.theme || "light";
		urlOpts.vertical = urlOpts.vertical || '';
		// update the form
		glow.dom.get('#urlOpts').val(urlOpts);
	</script>
	
	<h2>Test Title</h2>
	
	<p>Brief description</p>
	
	<ul>
		<li>List of things to test</li>
	</ul>
	
	<!-- output visual / interactive parts of your test here -->
	
	<script type="text/javascript" class="showSrc">
		// this is my script
		if (false) {
			doSomeStuff();
		}
	</script>
	
	
	<script type="text/javascript">manualTests.showSrc();</script>
	<script type="text/javascript">manualTests.log('Logging enabled');</script>
</body>
</html>